/* REEL ENDING */

.reel-ending{
    position:relative;

    width:100%;
    height:100vh;

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#050505;
}

/* BACKGROUND IMAGE */

.ending-image{
    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    transform:scale(1.04);
}

/* OVERLAY */

.overlay{
    position:absolute;

    inset:0;

    background:
    linear-gradient(
        to bottom,
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.88)
    );
}

/* CONTENT */

.ending-content{
    position:relative;

    z-index:5;

    text-align:center;

    padding:0 7%;
}

/* LOGO */

.ending-logo{
    width:82px;
    height:82px;

    object-fit:cover;

    border-radius:50%;

    margin-bottom:28px;

    border:
    1px solid rgba(255,255,255,0.12);
}

/* SMALL TEXT */

.ending-content span{
    display:block;

    color:#C9A97D;

    letter-spacing:6px;

    font-size:0.78rem;

    margin-bottom:28px;
}

/* TITLE */

.ending-content h1{
    font-family:'Cormorant Garamond',serif;

    font-size:5.5rem;
    font-weight:300;

    line-height:0.95;

    color:#F5F1E8;

    margin-bottom:45px;
}

/* BUTTON */

.ending-content a{
    display:inline-block;

    padding:18px 40px;

    border:
    1px solid rgba(255,255,255,0.12);

    color:#F5F1E8;

    text-decoration:none;

    letter-spacing:3px;

    font-size:0.75rem;

    transition:0.5s ease;
}

/* HOVER */

.ending-content a:hover{
    background:#F5F1E8;

    color:#050505;
}

/* MOBILE */

@media(max-width:600px){

    .ending-content h1{
        font-size:3rem;
    }

    .ending-logo{
        width:70px;
        height:70px;
    }

    }
